In [30]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.stats.proportion as proportion
from statsmodels.stats.proportion import proportions_ztest


%matplotlib inline

In [2]:
#import dataset
data = pd.read_csv("test_table.csv")
user = pd.read_csv("user_table.csv")

In [9]:
#Merging the both dataset
df = data.merge(user, on = 'user_id')

#Finding the control and test set
control = df[(df['test'] == 0)]
test = df[(df['test']  == 1)]


tot_people = np.array([control['user_id'].count(),test['user_id'].count()])

array([237093, 215774])

In [4]:
d1 = control.groupby('conversion')['user_id'].count().reset_index(name = 'control_count')
d1

   conversion  control_count
0           0         224016
1           1          13077

In [25]:
d2 = test.groupby('conversion')['user_id'].count().reset_index(name = 'test_count')
tp = d2[d2['conversion'] == 1]['test_count']
td = d1[d1['conversion'] == 1]['control_count']
tot_conver = np.array([td[1],tp[1]])

array([13077,  9367], dtype=int64)

In [6]:
#conversion rate of control group from thr total number of users
con_control = (d1[d1['conversion'] == 1]['control_count'])/(control['user_id'].count())
con_control

1    0.055156
Name: control_count, dtype: float64

In [7]:
#conversion rate of test group from the totl number of users
con_test = (d2[d2['conversion'] == 1]['test_count'])/(test['user_id'].count())
con_test

1    0.043411
Name: test_count, dtype: float64

In [28]:
#Z test
zscore, pvalue = proportions_ztest(tot_conver, tot_people, alternative = 'two-sided')
print('zscore = {:.4f}, pvalue = {:.12f}'.format(zscore, pvalue))

zscore = 18.1877, pvalue = 0.000000000000

In [31]:
#Chi square test
chisq, pvalue, table = proportion.proportions_chisquare(tot_conver, tot_people)
print('chisq =%.3f, pvalue = %.3f'%(chisq, pvalue))

chisq =330.792, pvalue = 0.000